body{
background-color:white;
font-family:verdana, sans-serif;color:black;
}
h1{
color:red;
text-align:center;
}
h2{
color:red;
}
h3{
color:purple;
text-align:center;
}
a{color:blue;}
a:hover{
color:red;
background-color:transparent;
}